{% extends 'base.html.twig' %}

{% block title %}New Thynatg1{% endblock %}

{% block body %}
    <h1>Create new Thynatg1</h1>

    {{ include('thynatg1/_form.html.twig') }}

    <a href="{{ path('app_thynatg1_index') }}">back to list</a>
{% endblock %}
