{% extends 'base.html.twig' %}

{% block title %}New Ferianatg2{% endblock %}

{% block body %}
    <h1>Create new Ferianatg2</h1>

    {{ include('ferianatg2/_form.html.twig') }}

    <a href="{{ path('app_ferianatg2_index') }}">back to list</a>
{% endblock %}
