<form method="post" action="{{ path('app_birmchergatg3_delete', {'id': birmchergatg3.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ birmchergatg3.id) }}">
    <button class="btn">Delete</button>
</form>
