{% extends 'base.html.twig' %}

{% block title %}Edit Ferianatg1{% endblock %}

{% block body %}
    <h1>Edit Ferianatg1</h1>

    {{ include('ferianatg1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ferianatg1_index') }}">back to list</a>

    {{ include('ferianatg1/_delete_form.html.twig') }}
{% endblock %}
