{% extends 'base.html.twig' %}

{% block title %}New Bouchematg4{% endblock %}

{% block body %}
    <h1>Create new Bouchematg4</h1>

    {{ include('bouchematg4/_form.html.twig') }}

    <a href="{{ path('app_bouchematg4_index') }}">back to list</a>
{% endblock %}
