<form method="post" action="{{ path('app_thynatg3_delete', {'id': thynatg3.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thynatg3.id) }}">
    <button class="btn">Delete</button>
</form>
