{% extends 'base.html.twig' %}

{% block title %}New Thynatg3{% endblock %}

{% block body %}
    <h1>Create new Thynatg3</h1>

    {{ include('thynatg3/_form.html.twig') }}

    <a href="{{ path('app_thynatg3_index') }}">back to list</a>
{% endblock %}
