{% extends 'base.html.twig' %}

{% block title %}Edit Bouchematg3{% endblock %}

{% block body %}
    <h1>Edit Bouchematg3</h1>

    {{ include('bouchematg3/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bouchematg3_index') }}">back to list</a>

    {{ include('bouchematg3/_delete_form.html.twig') }}
{% endblock %}
