{% extends 'base.html.twig' %}

{% block title %}New Thynatg2{% endblock %}

{% block body %}
    <h1>Create new Thynatg2</h1>

    {{ include('thynatg2/_form.html.twig') }}

    <a href="{{ path('app_thynatg2_index') }}">back to list</a>
{% endblock %}
